body {
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f5f5f5;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: white;
    }
}

.overlay {
    z-index: 10000;
}

.enable {
    /* pointer-events: visible;  */
    background-color: #1e1e1e;
    opacity: 0.9;
}

.elementToFadeOut {
    -webkit-animation: fadeout 1s linear forwards;
    animation: fadeout 1s linear forwards;
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#backMask {
    background-color: #111;
    opacity: 0.9;
}

.hover:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

#myVideo {
    background-color: #111;
}
